<ul class="ember-power-select-options" role="listbox" aria-label="Search Results">
  <li class="ember-power-select-option ember-power-select-option--search-message" role="option">
    {{searchMessage}}
  </li>
</ul>